*{margin: 0;
padding: 0;}
@font-face {
    font-family: 'Helvetica Neue';
    src: url(../tipografias/Helvetica\ Neue\ UltraLight.otf);
}

/* COLORES/FONTS 
#F5F5F5 - Background color
#4B644A - Barra de navegacion
#0B0014 - Font color
font-family: 'Cormorant Garamond', serif; - Font 
*/

/* GENERAL PAGES */
.link{color: #1B1B1E;
text-decoration: none;
flex-wrap: wrap;}


.barranavegacion{
    border: 2px #373F51 solid ;
    background-color: #f6f6f6;
    margin: 0.5%;
    padding: auto;
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    text-decoration: none;
    display: flex;
    gap: 10%;
    width: 100%;
    justify-content: center;
    list-style: none;
    text-align: center;
    align-content: center;
    color: #0B0014 ;
    flex-wrap: wrap;
  

}
 
.logo{
    grid-area: logo;
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
}
.footer{
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    color: #f6f6f6;
    position: bottom;
    bottom: 10px;
    text-align: center;
    margin-top: 10px;}

 /* IDS PARA REDES SOCIALES */
#instagram{
    color: #373F51;
    font-size: 40px;
    position: fixed;
    bottom: 20px;
    right: 10px;
}
#whatsapp{ 
    color: #106e09;
    font-size: 40px;
    position: fixed;
    bottom: 80px;
    right: 10px;
}
p{font-family:'Helvetica Neue';
  font-size: 18px;
  margin: 5px;
}
h1{font-family: 'Cormorant Garamond', serif; 
   font-size: 35px;
   margin: 5px;
   text-align: center;
    
}
.font{ font-family: 'Helvetica Neue';
    font-size: 25px;
    margin-bottom: 10px;
    
}

/* INDEX */  
    
header div{
    background-color: #373F51;
    width: 100%;
    height: auto;
    grid-area: header;
    flex-wrap: wrap;
}
nav{
    background-color: none;
   
    flex-wrap: wrap;
    width: 100%;
}

.main{
    display: flex;
    background-color: none;
    margin: 2px;
    grid-area: main;
    justify-content:space-around;
}
.img{
    display: flex;
    grid-template-columns: 1fr;
    justify-content: space-between;
    border: 1px solid #373F51;
    flex-wrap: wrap;
    margin-bottom: 20px;

}
.texto{
    border: 1px solid #373F51;
    display: flex;
    position: relative;
    overflow: visible;
    justify-content: flex-start;
    width: 400px;
    height: 400px;

    

}
.section{
    margin: 2px;
    background-color: none;
    grid-area: section;
    text-align: center;
    flex-wrap: wrap;
}

ul{
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;}
.border{
    border: #373F51 2px solid;
    display: flex;
    width: 460px;
    gap: 10px;
    row-gap: 10px;
    column-gap: 10px;
    flex-wrap: wrap;
}
footer{
    background-color: #373F51;
    grid-area: footer;
}

@media screen and (max-width: 600px) {

    .logo img {
      width: 150px;
      height: auto;
    }
    .barranavegacion {
      display: none;
    }
    
    .nav {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #fff;
      z-index: 1;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .nav.active {
      display: flex;
    }
    .nav li {
      margin: 20px;
    }
    .font {
      font-size: 20px;
    }
    .ul {
      display: flex;
      flex-direction: column;
    }
    .border {
      border: none;
    }
    .footer p {
      font-size: 14px;
    }
  }

/* ABOUT */




/* SERVICES */
ol{ 
    font-family:'Helvetica Neue';
  font-size: 18px;
  list-style-type: circle;
  margin: 20px;
}


@media screen and (max-width: 600px) {
    .barranavegacion {
        flex-direction: column;
    }

    .barranavegacion li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    main {
        padding: 20px;
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }

    ol {
        margin-left: 20px;
        margin-top: 10px;
    }

    aside {
        max-width: 300px;
    }

    footer {
        height: 120px;
    }


}


/* ACCOMMODATION */
.frame{
    flex-wrap: wrap;
}

.mainaccommodation{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.sectionalo{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;

}

.ttexto{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr;
    justify-content: space-evenly;
    width: 450px;
    height: 450px;
}
.contenedor{display: flex;
justify-content:space-evenly;
margin-bottom: 20px;
flex-wrap: wrap;
flex-direction: row;}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: #1B1B1E 1px hidden;
    margin-top: 20px;
    font-family: 'Helvetica Neue';
    font-size: 20px;
    flex-wrap: wrap;
  }
  
  .col-md-6 {
    width: 440px;
    height: 440px;
    display: flex;
    align-items:center ;
    flex-direction: column;
    justify-content: center;
  }
  
  .col-md-6 p {
    height: 440px;
    width: 440px;
    margin: 10px ;
  }
  
  .col-md-6 img {
    max-width: 440px;
    max-height: 400px;
    margin: auto;
    display: block;
  }
  .img-fluid{
    width: 500px;
  }
/* CONTACT */