$barranavegacion-border: 2px #373F51 solid;
$barranavegacion-bgcolor: #f6f6f6;
$barranavegacion-margin: 0.5%;
$barranavegacion-padding: auto;
$barranavegacion-font: 'Cormorant Garamond', serif;
$barranavegacion-font-size: 30px;
$barranavegacion-text-decoration: none;
$barranavegacion-display: flex;
$barranavegacion-gap: 10%;
$barranavegacion-width: 100%;
$barranavegacion-justify-content: center;
$barranavegacion-list-style: none;
$barranavegacion-text-align: center;
$barranavegacion-align-content: center;
$barranavegacion-color: #0B0014;
$barranavegacion-wrap: wrap;